.header {
	background: var(--secondary-color);
	padding: 1rem 1.5rem;
}

.header__dropdown{
	display: flex;
	justify-content: ;
 	gap: 2rem;
}

.header__category {
 	font-size: 1.5rem;
	width: 500;
	border-radius: 1rem;
}

.header__brand {
	font-size: 1.5rem;
	width: 500;
 	border-radius: 1rem;
}